@model IEnumerable<CourseApp.Models.StdSubject>

@{
    ViewBag.Title = "Index";
}
<html>
<head>
    <script type="text/javascript">
        var js = jQuery.noConflict();
        js(document).ready(function () {
            js('#myTable').DataTable({

            });
        });
    </script>
</head>
<body class="body">
    <h2>By RollNo</h2>

    <table id="myTable" class="table table-bordered table-striped">
        <thead>
            <tr>
               
                <th>
                    @Html.DisplayNameFor(model => model.SubjectId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Semister)
                </th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubjectId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Semister)
                    </td>
                   
                </tr>
            }
        </tbody>

    </table>
</body>
</html>